

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--    <head>-->
<!--        <title>Rasul's blog</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        <p>Assalomualeykum</p>-->
<!--        <p>This do my  site!</p>-->
<!--    </body>-->
<!--</html>-->

<!DOCTYPE html>
<html>
    <head>
        <title>Rasul first blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">My First blog</a></h1>
        </header>

        <article>
            <time>published: 13.10.2025, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Первый сайт по тутору джанго и гит хаба</p>
        </article>

        <article>
            <time>published: 14.06.2027, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>туашцуташоашщаоармргргрооршщукошщаоршуаоуаошоаоауоаоаощшоащшку</p>
        </article>
    </body>
</html>
